/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    transition: all 0.3s ease-in-out;
    justify-content: space-between; 
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

main {
    flex-grow: 1;
}

.card {
    background-color: rgb(45, 42, 42)!important;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

ul.list-group {
    width: 250px;
    margin-left: 0; 
}

ul.list-group li {
    width: 100%;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }

    ul.list-group {
        width: 100%;
    }

    ul.list-group li {
        font-size: 0.9rem;
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .container {
        padding: 15px;
    }

    footer .container {
        flex-direction: column;
        padding: 10px;
    }

    footer a {
        font-size: 0.9rem;
    }

    h5.card-title {
        font-size: 1.2rem;
    }

    h6.card-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card img {
        height: 150px;
        width: 150px;
    }

    .list-group-item {
        font-size: 0.8rem;
        padding: 8px;
    }

    footer .container p,
    footer .container a {
        font-size: 0.8rem;
    }
}
